## exfoliation for weewx - Copyright 2012-2014 Matthew Wall
## $Id: history.html.tmpl 1171 2014-12-07 14:45:50Z mwall $
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- exfoliation for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <meta name='viewport' content='width=device-width' />
    <title>$station.location Weather History</title>
    <link rel="stylesheet" type="text/css" href="exfoliation.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <style>
.navigation {
  padding-bottom: 15px;
}
.period {
  font-size: 85%;
  color: #207020;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
.period_selected {
  font-size: 85%;
  color: #207020;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #b0d0d0;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
    </style>
    <script>
var periods = ['day','week','month','year'];
function choose(id) {
  for(var i=0; i<periods.length; i++) {
    var c = document.getElementById('control_'+periods[i]);
    if(c) c.className = (periods[i] == id) ? 'period_selected' : 'period';
    var g = document.getElementById('graphs_'+periods[i]);
    if(g) g.style.display = (periods[i] == id) ? 'block' : 'none';
  }
}
    </script>
  </head>

  <body>
    #include "header.inc"
    <div id='content'>
      <div id='data_table'>
      <div class='navigation'>
        <span class='period_selected' id='control_day' href="#" onclick="choose('day')">Day</span>
        <span class='period' id='control_week' href="#" onclick="choose('week')">Week</span>
        <span class='period' id='control_month' href="#" onclick="choose('month')">Month</span>
        <span class='period' id='control_year' href="#" onclick="choose('year')">Year</span>
      </div>
        #include "hilo.inc"
      </div>
      <div id='data_graphs'>

      <div id='graphs_day' class='data_graphs'>
#if $Extras.has_key('show_inside') and $Extras.show_inside == 'true'
        <img src="dayinouttempdew.png" alt="temperatures" />
        <img src="dayinouthum.png" alt="humidity" />
#else
        <img src="dayouttempdew.png" alt="temperatures" />
        <img src="dayouthum.png" alt="humidity" />
#end if
        <img src="daybarometer.png" alt="barometer"/>
        <img src="daytempchill.png" alt="heatchill" />
        <img src="daywind.png" alt="wind" />
        <img src="daywinddir.png" alt="wind direction" />
        <img src="daywindvec.png" alt="wind vectors" />
        <img src="dayrain.png" alt="rain" />
        #if $day.radiation.has_data
        <img src="dayradiation.png" alt="radiation" />
        #end if
        #if $day.UV.has_data
        <img src="dayuv.png" alt="uv" />
        #end if
      </div>

      <div id='graphs_week' class='data_graphs' style='display:none'>
#if $Extras.has_key('show_inside') and $Extras.show_inside == 'true'
        <img src="weekinouttempdew.png" alt="temperatures" />
        <img src="weekinouthum.png" alt="humidity" />
#else
        <img src="weekouttempdew.png" alt="temperatures" />
        <img src="weekouthum.png" alt="humidity" />
#end if
        <img src="weekbarometer.png" alt="barometer"/>
        <img src="weektempchill.png" alt="heatchill" />
        <img src="weekwind.png" alt="wind" />
        <img src="weekwinddir.png" alt="wind direction" />
        <img src="weekwindvec.png" alt="wind vectors" />
        <img src="weekrain.png" alt="rain" />
        #if $week.radiation.has_data
        <img src="weekradiation.png" alt="radiation" />
        #end if
        #if $week.UV.has_data
        <img src="weekuv.png" alt="uv" />
        #end if
      </div>

      <div id='graphs_month' class='data_graphs' style='display:none'>
#if $Extras.has_key('show_inside') and $Extras.show_inside == 'true'
        <img src="monthinouttempdew.png" alt="temperatures" />
        <img src="monthinouthum.png" alt="humidity" />
#else
        <img src="monthouttempdew.png" alt="temperatures" />
        <img src="monthouthum.png" alt="humidity" />
#end if
        <img src="monthbarometer.png" alt="barometer"/>
        <img src="monthtempchill.png" alt="heatchill" />
        <img src="monthwind.png" alt="wind" />
        <img src="monthwinddir.png" alt="wind direction" />
        <img src="monthwindvec.png" alt="wind vectors" />
        <img src="monthrain.png" alt="rain" />
        #if $month.radiation.has_data
        <img src="monthradiation.png" alt="radiation" />
        #end if
        #if $month.UV.has_data
        <img src="monthuv.png" alt="uv" />
        #end if
      </div>

      <div id='graphs_year' class='data_graphs' style='display:none'>
#if $Extras.has_key('show_inside') and $Extras.show_inside == 'true'
        <img src="yearinouttempdew.png" alt="temperatures" />
        <img src="yearinouthum.png" alt="humidity" />
#else
        <img src="yearouttempdew.png" alt="temperatures" />
        <img src="yearouthum.png" alt="humidity" />
#end if
        <img src="yearbarometer.png" alt="barometer"/>
        <img src="yeartempchill.png" alt="heatchill" />
        <img src="yearwind.png" alt="wind" />
        <img src="yearwinddir.png" alt="wind direction" />
        <img src="yearwindvec.png" alt="wind vectors" />
        <img src="yearrain.png" alt="rain" />
        #if $year.radiation.has_data
        <img src="yearradiation.png" alt="radiation" />
        #end if
        #if $year.UV.has_data
        <img src="yearuv.png" alt="uv" />
        #end if
      </div>

      </div>
    </div>
    #include "footer.inc"
  </body>
</html>
