## exfoliation for weewx - Copyright 2012-2013 Matthew Wall
## $Id: links.html.tmpl 1171 2014-12-07 14:45:50Z mwall $
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- exfoliation for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <meta name='viewport' content='width=device-width' />
    <title>$station.location Weather Links</title>
    <link rel="stylesheet" type="text/css" href="exfoliation.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <style>
      .feeds img {
        border: none;
        width: 140px;
        padding: 2px;
      }
    </style>
  </head>

  <body>
    #include "header.inc"

    <div id='content'>
      <table>
        <tr style='vertical-align:top'>
          <td>

#if $Extras.has_key('local_forecast_url') or $Extras.has_key('marine_forecast_url') or $Extras.has_key('tide_table_url')
<p>&nbsp;</p>
#if $Extras.has_key('local_forecast_url')
<a href='$Extras.local_forecast_url'>Local Forecast</a><br/>
#end if
#if $Extras.has_key('marine_forecast_url')
<a href='$Extras.marine_forecast_url'>Marine Forecast</a><br/>
#end if
#if $Extras.has_key('tide_table_url')
<a href="$Extras.tide_table_url">Tide Table</a><br/>
#end if
#end if

#if $Extras.has_key('nws_48hour_forecast_url') or $Extras.has_key('nws_forecast_url') or $Extras.has_key('nws_marine_forecast_url')
<p>&nbsp;</p>
#if $Extras.has_key('nws_48hour_forecast_url')
<a href="$Extras.nws_48hour_forecast_url">NWS 48-Hour Forecast</a><br/>
#end if
#if $Extras.has_key('nws_forecast_url')
<a href="$Extras.nws_forecast_url">NWS 7-Day Forecast</a><br/>
#end if
#if $Extras.has_key('nws_marine_forecast_url')
<a href="$Extras.nws_marine_forecast_url">NWS Marine Forecast</a><br/>
#end if
#end if

#if $Extras.has_key('intellicast_forecast_url') or $Extras.has_key('intellicast_satellite_url')
<p>&nbsp;</p>
#if $Extras.has_key('intellicast_forecast_url')
<a href="$Extras.intellicast_forecast_url">Intellicast Forecast</a><br/>
#end if
#if $Extras.has_key('intellicast_satellite_url')
<a href="$Extras.intellicast_satellite_url">Intellicast Satellite</a><br/>
#end if
#end if

#if $Extras.has_key('weather_underground_url')
<p>&nbsp;</p>
<a href="$Extras.weather_underground_url">Weather Underground</a><br/>
#end if

#if $Extras.has_key('owm_url')
<p>&nbsp;</p>
<a href="$Extras.owm_url">OpenWeatherMap</a><br/>
#end if

#if $Extras.has_key('show_rss') and $Extras.show_rss == 'true'
<p>&nbsp;</p>
<a href="weewx_rss.xml">RSS</a><br/>
#end if

          </td>

          <td width='20'></td>

          <td class='feeds'>

#if $Extras.has_key('radar_local_img')
<p>
<a  href="$Extras.radar_local_img">Local Radar<br/>
<img src="$Extras.radar_local_img"/></a>
</p>
#end if

#if $Extras.has_key('radar_regional_img')
<p>
<a  href="$Extras.radar_regional_img">Regional Radar<br/>
<img src="$Extras.radar_regional_img"/></a>
</p>
#end if

#if $Extras.has_key('radar_national_img')
<p>
<a  href="$Extras.radar_national_img">National Radar<br/>
<img src="$Extras.radar_national_img"/></a>
</p>
#end if

          </td>

          <td class='feeds'>

#if $Extras.has_key('satellite_i8_img')
<p>
<a href="$Extras.satellite_i8_img">Colorized<br/>
<img src="$Extras.satellite_i8_img"/></a>
</p>
#end if

#if $Extras.has_key('satellite_wv_img')
<p>
<a href="$Extras.satellite_wv_img">Water Vapor<br/>
<img src="$Extras.satellite_wv_img"/></a>
</p>
#end if

#if $Extras.has_key('satellite_ir_img')
<p>
<a href="$Extras.satellite_ir_img">Infrared<br/>
<img src="$Extras.satellite_ir_img"/></a>
</p>
#end if

#if $Extras.has_key('satellite_vs_img')
<p>
<a href="$Extras.satellite_vs_img">Visible<br/>
<img src="$Extras.satellite_vs_img"/></a>
</p>
#end if

          </td>

          <td class='feeds'>

#if $Extras.has_key('forecast_48hour_img')
<p>
<a href="$Extras.forecast_48hour_img">48 Hour<br/>
<img src="$Extras.forecast_48hour_img"/></a>
</p>
#end if

#if $Extras.has_key('forecast_fronts_img')
<p>
<a href="$Extras.forecast_fronts_img">Fronts<br/>
<img src="$Extras.forecast_fronts_img"/></a>
</p>
#end if

#if $Extras.has_key('forecast_surface_img')
<p>
<a  href="$Extras.forecast_surface_img">US Surface<br/>
<img src="$Extras.forecast_surface_img"/></a>
</p>
#end if

#if $Extras.has_key('forecast_fourpanel_img')
<p>
<a  href="$Extras.forecast_fourpanel_img">Four Panel<br/>
<img src="$Extras.forecast_fourpanel_img"/></a>
</p>
#end if

          </td>

	  <td class='feeds'>

#if $Extras.has_key('intellicast_satellite_img')
<p>
<a href="$Extras.intellicast_satellite_img">Intellicast Satellite<br/>
<img src="$Extras.intellicast_satellite_img"/></a>
</p>
#end if

#if $Extras.has_key('intellicast_radar_img')
<p>
<a  href="$Extras.intellicast_radar_img">Intellicast Radar<br/>
<img src="$Extras.intellicast_radar_img"/></a>
</p>
#end if

          </td>

	  <td class='feeds'>

#if $Extras.has_key('aurora_forecast_n_img')
<p>
<a href="$Extras.aurora_forecast_n_img">Aurora Borealis<br/>
<img src="$Extras.aurora_forecast_n_img"/></a>
</p>
#end if

#if $Extras.has_key('aurora_forecast_s_img')
<p>
<a href="$Extras.aurora_forecast_s_img">Aurora Australius<br/>
<img src="$Extras.aurora_forecast_s_img"/></a>
</p>
#end if

	  </td>

        </tr>
      </table>

#if $Extras.has_key('text_forecast_url')
      <iframe src="$Extras.text_forecast_url" width='700' height='800' frameborder='0' marginwidth='5'>Extended Forecast</iframe>
#end if

    </div>
    #include "footer.inc"
  </body>
</html>
